/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

#top_header {
  width: 100%;
  background: transparent;
  padding: 0 20px;
}
.header_top {
  margin: 0;
  color: #777;
  font-size: 15px;
  line-height: 1.8em;
  /* border-right: 1px solid #ab8877; */
}
.No_margin_No_padding {
  padding: 0 !important;
  margin: 0 !important;
}
.header_top_bar li {
  list-style: none;
  float: left;
  padding: 10px 15px;
}
.header_top_bar li i {
  color: #777;
  font-size: 16px;
}
.header_top_bar li i:hover {
  color: #4caf50;
  transform: scale(1.2);
}
.header_top_bar li a {
  text-decoration: none;
  font-size: 16px;
  color: #777;
}
.header_top_bar li a:hover {
  color: tomato;
}

.headder_search i {
  margin-top: 2px;
}

#MainHeader {
  background: transparent;
}
.main {
  min-width: 100%;
  background: transparent;
}

@media (max-width: 1000px) {
  .main {
    display: none;
  }
}

/* ==================>>>>>>>>>>>>>>>>>>>>>> */
.logo {
  color: tomato !important;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  text-shadow: #777;
}
.logo:hover {
  color: #4caf50 !important;
}
.logo sub {
  color: #4caf50;
  font-weight: 300;
}
.nav_ul {
  padding: 0 40px;
}
.nav_ul ul {
  text-shadow: 1px 1px rgb(231, 230, 230);
}
.nav_ul ul li {
  text-transform: uppercase;
  font-size: 16px;
  padding: 0 10px;
}
.nav_ul ul li a {
  text-decoration: none;
  letter-spacing: 0.08em;
  color: #000 !important;
}
.nav_ul ul li a:hover {
  border-bottom: 1px solid #777;
  color: tomato !important;
  font-weight: 900;
}

#main_screen {
  width: 100%;

  background-image: linear-gradient(
      to bottom,
      rgba(88, 235, 144, 0.52),
      rgba(56, 54, 56, 0.73)
    ),
    url("../images/pexels-pixabay-210679.jpg");
  opacity: 0.8rem !important;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* min-height: 600px; */
}
/* main Scren form part  */

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: transparent;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #aaaba8;
  width: 100%;
  border: 0;
  color: #43a047;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #43a047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4caf50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.discription h2 {
  margin-top: 40px;
  padding: 40px;
  color: #ffffff;
  font-size: 40px;
  text-transform: uppercase;
}
.discription p {
  text-align: center;
  margin: 25px;
  color: #f2f2f2;
  font-size: 18px;
}
.discription button {
  margin: 10px 40px;
  right: 0 !important;
  left: 80% !important;
}
